---
---

$darkBlue: #042F73;
$blue: #0076FF;
$lightGreen: #82e871;
$yellow: #F8DD1C;
$lightYellow: #F7F2B7;
$pink: #F9024D;
$bodyText: #777;
$black: #111;

$color: #093261;
$color2: white;
$color3: black;



// Removes white background on image
.blend-multiply {
    mix-blend-mode: multiply;
}

* {
    font-family: 'helvetica neue',helvetica, arial, sans-serif;
}

.mb50 {
    margin-bottom: 50px !important;
}

.link {
    color: black !important;
    text-decoration: none !important;
    border-bottom: 3px solid #ff3f64;
    line-height: 1em;
    padding-bottom: .3em;
    font-weight: 600;
    font-size: 15px;
    &:after {
        display: inline-block;
        content: "\f061";
        font-weight: 300;
        font-family: 'FontAwesome'; 
        margin-left: 10px;  
        transition: all .1s;
        transform: translateX(0);  
        font-size: 13px;        
    }
    &:hover {
        &:after {
            transform: translateX(3px);
        }
    }
}

// misc stylings
body {
    background-color: #fff;
}
p {
  font-family: 'helvetica', sans-serif;
  font-weight: 400;
  color: darken( $bodyText, 10%);
  font-size: 16px;
  line-height: 1.6em; 
  color: color('bodyText');
}

h1 {
    margin-top: 28px;
    font-size: 75px;
    font-weight: 800;
    color: black;
    margin-bottom: 8px;
    line-height: 1em;
    &.text-js {
        margin-left: -5px;
    }
}
h5 {
    font-size: 1.25rem;
    font-weight: 500;
}

.dark-text {
    color: #333 !important;
}
.grey-text {
    color: #777 !important;
}

/*===========================================================
  STRUCTURE
===========================================================*/

// Animated hero
.full-height {
    height: 100vh;
    width: 100vw;
    position: relative;
}
.title-main {
    position: fixed;
    text-align: left;
    overflow: hidden;
}
.s-inner {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}
.section2 {
    .balloon {
        transform: scale(.8);
        transform-origin: bottom;
    }
    p.heading {
        font-size: 28px;
        color: black;
        font-weight: 800 !important;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    p.text-content {
        font-size: 16px;
        color: #F7B100;
        font-weight: 500;
    }
}

// header styles
header {
    &.header1 {
        height: 80px;
        .container {
            .row {
                display: flex;
                justify-content: space-between;
                .logo {
                    margin-top: 20px;
                    a {
                        svg {
                            height: 30px !important;
                            transition: all 1s;
                            &:hover {
                                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                                filter: grayscale(100%);
                            }
                        }
                    }
                }
                nav {
                    padding-top: 18px;
                    ul {
                        padding-right: 20px;
                        li {
                            display: inline-block;
                            position: relative;
                            padding: 0px;
                            margin-left: 30px;
                            &:hover {
                                &:after {
                                    background-color: #eee;
                                    width: 100%;
                                }
                            }
                            &#contact {
                                overflow: hidden;
                                a {
                                    color:#111;
                                    border-bottom: 2px solid #eb3d63;
                                    font-weight: 600;
                                    font-size: 1em;
                                    text-decoration: none !important;
                                    transition: .2s all;
                                    &:hover {
                                        // padding-bottom: 1px;
                                        color: #eb3d63;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//PROJECT PAGES - Interior
#project-page {
    background-color: white;
    .project-title {
      padding-top: 50px;
      padding-bottom: 50px;
        .project-text {
            padding-bottom: 30px;
            width: 100%;
            h1 {
                width: 100%;
                font-weight: 800;
                font-size: 65px;
            }
            h5 {
                color: lighten($color3, 50%);
            }
        }
    }
  
    .project-hero {
      width: 100%;
      height: 500px;
      &.easy-road {
          background-image: url('../assets/images/beach.jpg');
          background-size: cover;
          background-position-y: 20%;
      }
    }
    .sticky-column {
      padding-top: 0px;
      img {
          width: 100%;
      }
      h5 {
        font-weight: 700;
        padding-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        color: black;
        text-transform: uppercase;
        letter-spacing: .5px;
      }
      .d-flex {
        display: flex;
      }
      .p-rel {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 100%;
      }
      .sticky, .non-sticky {
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 0;
        padding-left: 0;
        padding-right: 15px;
        width: 100%;
        max-width: 520px;
        height: 100px;
        padding-top: 0px;
      }
    }
  }
  
  .non-sticky {
      position: static !important;
  }
  
  



/*===========================================================
  HOMEPAGE
===========================================================*/


// hero styles
.container-fluid.hero {
    display: flex;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 100px;
    .bg {
        position: fixed;
        background-color: #111;
        width: 100%;
        height: 100%;
    }
    .grid {
        position: fixed;
        width: 100%;
        height: 100%;
        .line-parent {
            height: 100%;
            display: flex;
            position: absolute;
            &:nth-child(1) {
                margin-left: 0;
            }
            &:nth-child(2) {
                margin-left: 16.6vw;
            }
            &:nth-child(3) {
                margin-left: 33.2vw;
            }
            &:nth-child(4) {
                margin-left: 49.8vw;
            }
            &:nth-child(5) {
                margin-left: 66.4vw;
            }
            &:nth-child(6) {
                margin-left: 83vw;
            }
            .line-element {
                background-color: #222;
                width: 1px;
                height: 100%;
            }
        }
    }
    .arrow-parent {
        position: absolute;
        margin-top: 50.3vh;
        margin-left: calc(16.6vw + 703px);
        overflow: hidden;
        position: fixed;
        .hero-arrow {
            opacity: 0;
            svg #work, svg .arrow-lines {
                opacity: 0;
            }
            circle {
                fill: white;
            }
        }
    }
    .contact-parent {
        overflow: hidden;
        position: fixed;
        top: 30px;
        left: 83%;
        width: 300px;
        height: 100px;
        .contact {
            color: white;
            font-size: 14px;
            font-weight: 800;
            position: absolute;
            border-bottom: 2px solid #FBCD25;
            padding-right: 25px;
            #envelope {
                transform: scale(.35);
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: -13px;
                left: 50px;
                stroke-width: 5px;
            }
            &:hover {
                padding-right: 42px;
                text-decoration: none;
                svg {
                    display: inline-block;
                }

            }
        }
    }
    
    .title-main {
        text-align: left !important;
        margin-left: 16.6vw;
        margin-top: calc(50vh - 188px);
        h1 {
          font-weight: 900;
          font-size: 150px;
          margin-top: -20px;
          margin-bottom: 0;
          line-height: 1em;
          color: white;
          display: block;
          letter-spacing: -2px;
        }
        p {
            display: flex;
            max-width: 750px;
            color: white;
            font-size: 30px;
            margin-top: 30px;
            display: block;
            line-height: 1.6em;
            font-weight: 900;
            font-family: 'helvetica', sans-serif;
            span {
                &:nth-child(1) {
                    color: #FCF2BD;
                }
                &:nth-child(2) {
                    color: #F7E376;
                }
                &:nth-child(3) {
                    color: #FBCD25;
                }
            }
        }
    }
}

// Project descripton sections on homepage and skillset section
.project-description {
    margin-bottom: 5px;
    &.theme-2 {
        .container {
            .row {
                height: 350px;
                border: 1px solid #eee !important;
                overflow: hidden;
                transition: all .2s ease-out;
                background-color: white;
                &:hover {
                    box-shadow: 0 7px 25px rgba(1,1,1,.08);
                }
                a {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    text-decoration: none !important;
                    display: flex;
                    overflow: hidden;
                    @media (max-width: 900px) {
                        flex-direction: column;
                        .col-md-6 {
                            max-width: 100%;
                        }
                    }
                }
                .col-md-6 {
                    padding: 0;
                    &:nth-child(1) {
                        background-color: white;
                    }
                    .text-block {
                        padding: 30px 35px 20px 40px;
                        height: 100%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                                flex-direction: column;
                        .category {
                            display: block;
                            color: darken( $bodyText, 90%);
                            // font-family: 'Playfair Display', serif;
                            font-family: 'helvetica', sans-serif;
                            font-weight: 600;
                            font-size: 13px;
                            span {
                                color: #999;
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                        }
                        h1 {
                            font-size: 48px;
                            margin-top: 30px;
                            margin-bottom: 14px;
                            font-weight: 900;
                            margin-left: -2px;
                            letter-spacing: -2px;
                            color: color('$black');
                        }
                        .description {
                            display: block;
                            color: lighten( $bodyText, 10%);
                            font-size: 15px;
                            padding-bottom: 20px;
                            // font-style: italic;
                            font-weight: 500;
                        }
                        p {
                            margin-top: auto;
                        }
                    }
                    .img-block  {
                        overflow: hidden;
                        img {
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}


// All Projects Section
.all-projects {
    margin-bottom: 100px;
    h1 {
        margin-bottom: 60px;
        font-size: 65px;
        letter-spacing: -2px;
    }
    #projects-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box {
            height: 16em;
            flex-basis: 32%;
            flex-shrink: 0;
            flex-grow: 0;
            background: #eee;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 2px 15px rgba(1,1,1,0.2);
            text-decoration: none !important;
            overflow: hidden;
            position: relative;
            transition: 1s all;
            h5 {
                color: black;
                position: absolute;
                bottom: 23px;
                left: 20px;
                background: white;
                padding: 0 3px;
            }
            small {
                position: absolute;
                bottom: 10px;
                left: 20px;
                text-transform: uppercase;
                color: black !important;
                letter-spacing: 0.5px;
                background: white;
                padding: 0 3px;
                span {
                    color: #F9024D;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            // margin-bottom: 100px;
            &:nth-child(3n) {
                margin-bottom: 1.5%;
            }
            cursor: pointer;
            .box-content {
                background-size: cover;
                background-repeat: no-repeat;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                height: 100%;
                width: 100%;
            }
            &:hover {
                box-shadow: 0px 2px 20px rgba(1,1,1,0.3);
                .box-content {
                -ms-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -o-transform: scale(1.05);
                transform: scale(1.05);
                }
            }

            &-1 .box-content  {
                background-image: url('../assets/images/ux-thumbnail.png');
                background-size: cover;
                position: relative;
            }
            &-2 .box-content  {
                background-image: url('../assets/images/newfi-thumbnail.png');
                background-size: cover;
                position: relative;
            }
            &-3 .box-content  {
                background-image: url('../assets/images/jadeorchard.png');
                background-size: cover;
                position: relative;
            }
            &-4 .box-content  {
                background-image: url('../assets/images/ben-jerry-thumbnail.png');
                background-size: cover;
                position: relative;
            }
            &-5 .box-content  {
                background-image: url('../assets/images/app-thumbnail.png');
                background-size: cover;
                position: relative;
            }
            &-6 .box-content {
                background-image: url('../assets/images/rick-thumbnail.png');
                background-size: cover;
                position: relative;
                background-position-y: 70%;
            }
        }
    }
}

