---
---

$darkBlue: #042F73;
$blue: #0076FF;
$lightGreen: #82e871;
$yellow: #F8DD1C;
$lightYellow: #F7F2B7;
$pink: #F9024D;
$bodyText: #777;
$black: #111;

$color: #093261;
$color2: white;
$color3: black;

// Removes white background on image
.blend-multiply {
    mix-blend-mode: multiply;
}

* {
    font-family: lato, sans-serif;
}

// misc stylings
p {
  font-family: 'lato', serif;
  font-weight: 400;
  color: darken( $bodyText, 40%);
  font-size: 17px;
  line-height: 1.6em;
}

h1 {
    margin-top: 28px;
    font-size: 75px;
    font-weight: 800;
    font-family: 'lato', sans-serif;
    color: black;
    margin-bottom: 8px;
    line-height: 1em;
}


/*===========================================================
  STRUCTURE
===========================================================*/


// header styles
header {
    &.header1 {
        height: 80px;
        .container {
            .row {
                display: flex;
                justify-content: space-between;
                .logo {
                    margin-top: 20px;
                    a {
                        svg {
                            height: 30px !important;
                            &:hover {
                                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                                filter: grayscale(100%);
                            }
                        }
                    }
                }
                nav {
                    padding-top: 18px;
                    ul {
                        padding-right: 20px;
                        li {
                            display: inline-block;
                            position: relative;
                            padding: 0px;
                            margin-left: 30px;
                            &:hover {
                                &:after {
                                    background-color: #eee;
                                    width: 100%;
                                }
                            }
                            &#contact {
                                a {
                                    color:#555;
                                    line-height: 2.7em;
                                    height: 100%;
                                    width: 100%;
                                    background-color: #fff;
                                    box-shadow: 0 3px 15px rgba(1,1,1,0.2);
                                    padding: 9px 20px;
                                    border-radius: 2px;
                                    font-weight: 400;
                                    font-size: 0.9em;
                                    text-decoration: none !important;
                                    &:hover {
                                        text-decoration: none !important;
                                        background-color: #111;
                                        color: #fff;
                                    }
                                }
                            }
                            // a {
                            //     color: #999;
                            //     font-size: 13px;
                            //     font-weight: 600;
                            //     padding: 9px 15px;
                            //     width: 100% !important;
                            //     height: 100% !important;
                            //     &:hover {
                            //         text-decoration: none;
                            //         color: darken( $bodyText, 20%)
                            //     }
                            // }
                        }
                    }
                }
            }
        }
    }
}


//PROJECT PAGES - Interior
#project-page {
    .project-title {
      padding-top: 100px;
      padding-bottom: 70px;
      h1 {
        width: 100%;
        font-weight: 800;
      }
      h5 {
        color: lighten($color3, 50%);
      }
  
    }
  
    .project-hero {
      width: 100%;
      height: 500px;
      &.easy-road {
          background-image: url('../assets/images/beach.jpg');
          background-size: cover;
          background-position-y: 20%;
      }
    }
    .sticky-column {
      padding-top: 0px;
      &.easy-road {
          background: #f1f1f3;
      }
      h5 {
        font-weight: 900;
        padding-top: 50px;
        margin-top: 50px;
        margin-bottom: 20px;
        color: black;
      }
      .d-flex {
        display: flex;
      }
      .p-rel {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 100%;
      }
      .sticky {
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 0;
        padding-left: 0;
        padding-right: 15px;
        width: 100%;
        max-width: 520px;
        height: 100px;
      }
    }
  }
  
  
  
  



/*===========================================================
  HOMEPAGE
===========================================================*/

@keyframes hero {
    0% {transform:translate(0,500px);opacity:0;}
    100% {transform:translate(0,0);opacity:1;}
}

.homepage {
    .header1 {
        background: #fafafa;
    }
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}

// hero styles
.container-fluid.hero {
    /*background-image: url('{{ site.url }}//portfolio/assets/images/hero.jpg');*/
    display: flex;
    height: calc(100vh - 80px);
    align-items: center;
    background: #fafafa;
    margin-bottom: 100px;

    [data-ca3_iconfont="ETmodules"]::before {
        font-family: "ETmodules";
    }
    [data-ca3_icon]::before {
        font-weight: normal;
        content: attr(data-ca3_icon);
    }

    .ca3-scroll-down-arrow {
        background-image: url(../assets/images/arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        fill: red;
    }

    .ca3-scroll-down-link {
    cursor:pointer;
        height: 25px;
        fill: red;
        width: 80px;
        margin: 0px 0 0 -40px;
        line-height: 60px;
        position: absolute;
        left: 50%;
        bottom: 30px;
        color: #FFF;
        text-align: center;
        font-size: 70px;
        z-index: 100;
        text-decoration: none;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

        -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
        -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
        animation:         ca3_fade_move_down 2s ease-in-out infinite;
    }
    div.container {
        position: relative;
        text-align: left !important;
        h1 {
          font-weight: 900;
          font-size: 125px;
          margin-top: -120px;
          margin-bottom: 0;
          line-height: 1em;
          color: color('black');
          letter-spacing: -2px;
          display: block;
          animation-name: hero;
          animation-duration: 1s;
        }
        p:nth-of-type(1) {
            max-width: 750px;
            color: darken( $bodyText, 40%);
            font-size: 18px;
            margin-top: 30px;
            display: block;
            line-height: 1.6em;
            text-transform: uppercase;
            animation-name: hero;
            animation-duration: 1s;
            span {
                margin: 0 20px;
                color: $pink;
            }
        }
        p:nth-of-type(2) {
            max-width: 650px;
            margin-top: 35px;
            animation-name: hero;
            animation-duration: 1s;
        }
        ul {
            margin-top: 35px;
            padding-left: 0;
            animation-name: hero;
            animation-duration: 1s;
            li {
                display: inline-block;
                margin-right: 3px;
                a {
                    img {
                        width: 30px;
                        height: 30px;
                        -webkit-transition: transform 2s; /* Safari */
                        transition: transform 0.1s;
                    }
                    &:hover img {
                        -webkit-transform: translateY(-3px);
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }
}

// Project descripton sections on homepage and skillset section
.project-description {
    padding-bottom: 100px;
    &.theme-1 {
        .text-block {
            padding: 40px 0px 40px 0px;
            color: #4a4a4a;
            small, small a {
                font-size: 14px;
                letter-spacing: 3px;
                color: #777;
                font-weight: 600;
                text-transform: uppercase;
                display: block;
                font-family: 'Teko', sans-serif;
              span {
                margin-left: 15px;
                margin-right: 15px;
              }
              a {
                display: inline-block;
                color: $pink;
              }
            }
            h1 {
                margin-top: 28px;
                font-size: 65px;
                font-weight: 800;
                font-family: 'lato', sans-serif;
                letter-spacing: -2px;
                color: black;
                margin-bottom: 6px;
                line-height: 1em;
                display: inline-block;
                & + small {
					margin-bottom: 15px;
					display: block;
					color: #777;
                }
            }
            p {
                &.disciplines {
                    font-size: 14px;
                    font-weight: 800;
                    text-transform: uppercase;
                    padding-top: 25px;
                    color: #999;
                    span {
                        position: relative;
                        font-family: 'Teko', sans-serif;
                        letter-spacing: 1.5px;
                        &:after {
                            content: '';
                            position: absolute;
                            border-bottom: 10px solid rgba(248, 221, 28, 0.3);
                            margin-top: -5px;
                            width: 100%;
                            bottom: 0px;
                            left: 0;
                        }
                    }
                }
            }
        }
        .img-block {
            margin-top: 30px;
            display: flex;
		    flex-direction: row;
		    justify-content: flex-end;
            div {
            	position: absolute;
            	transform: translateY(0%);
            	max-width: 100%;
            	height: 100%;
            	display: flex;
            	opacity: 0;
            	width: 100%;
            	flex-direction: column;
            	transition: 0.8s ease;
            	transition-delay: 0.5s;
            	h4 {
            		color: white;
            		font-family: lato, sans-serif;
            		font-size: 20px;
            		font-weight: bold;
            		text-shadow: 0px 2px 10px rgba(1,1,1,0.1);
            		border-bottom: 1px solid #fff;
            		line-height: 1em;
            		padding-bottom: 35px;
            		padding-right: 20px;
            		text-align: right;
            		text-transform: uppercase;
            		letter-spacing: 3px;
            		box-shadow: 0px 2px 10px rgba(1,1,1,0.1);
            		max-width: 100%;
            		margin-top: auto;
            	}
            	p {
            		font-size: 14px;
            		padding-right: 20px;
					color: white;
					font-weight: 300;
            		text-shadow:  2px 10px rgba(1,1,1,0.1);
            		text-align: right;
            		letter-spacing: 0.5px;
            		margin-bottom: 1rem;
            	}
            }
            a {
            	display: block;
            	position: relative;
                text-align: right;
                color: #30D287;
                transition: 2.5s ease;
                overflow: hidden;
                border-radius: 3px;
                padding: 0;
                &:hover {
                  img {
                    transform: scale(1.05);
                  }
                }
	            img {
	                position: absolute;
	                right: 0px;
		            opacity: 1;
		            width: 100%;
		            height: auto;
                    transition: 0.7s ease;
                    box-shadow: 0px 3px 10px rgba(1,1,1,1);
		            border-radius: 3px;
		        	&.project-animate {
		            	position: relative;
		            	opacity: 1;
		            	& + div {
                          opacity: 1;
                          transform: translateY(-100%);
		            	}
		            }
	            }
        	}
        }
    }
}


// All Projects Section
.all-projects {
    margin-bottom: 100px;
    h1 {
        margin-bottom: 40px;
        font-family: 'lato', sans-serif;
        font-size: 65px;
        letter-spacing: -2px;
    }
    #projects-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box {
            height: 18em;
            flex-basis: 33%;
            flex-shrink: 0;
            flex-grow: 0;
            background: #eee;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 2px 10px rgba(1,1,1,0.4);
            text-decoration: none !important;
            overflow: hidden;
            position: relative;
            h5 {
                color: white;
                position: absolute;
                bottom: 10px;
                left: 20px;
            }
            // margin-bottom: 100px;
            &:nth-child(3n) {
                margin-bottom: 0.5%;
            }
            cursor: pointer;
            .box-content {
                background-size: cover;
                background-repeat: no-repeat;
                -webkit-transition: all .5s;
                -moz-transition: all .5s;
                -o-transition: all .5s;
                transition: all .5s;
                height: 100%;
                width: 100%;
            }
            &:hover .box-content {
                -ms-transform: scale(1.05);
                -moz-transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -o-transform: scale(1.05);
                transform: scale(1.05);
            }

            &-1 .box-content  {
                background-image: url('../assets/images/newfi-home.png');
                background-size: cover;
                position: relative;
            }
            &-2 .box-content  {
                background-image: url('../assets/images/newfi-home.png');
                background-size: cover;
                position: relative;
            }
            &-3 .box-content  {
                background-image: url('../assets/images/newfi-home.png');
                background-size: cover;
                position: relative;
            }
            &-4 .box-content  {
                background-image: url('../assets/images/newfi-home.png');
                background-size: cover;
                position: relative;
            }
            &-5 .box-content  {
                background-image: url('../assets/images/newfi-home.png');
                background-size: cover;
                position: relative;
            }
            &-6 .box-content {
                background-image: url('../assets/images/newfi-home.png');
                background-size: cover;
                position: relative;
            }
        }
    }
}




// Code for bar graph
.progress-element {
  max-width: 900px;
	.progress {
		margin-bottom: 20px;
	    text-align: left;
	    text-indent: 60px;
	    border-radius: 1px;
		.progress-bar {
			height: 30px;
			font-weight: bold;
			width: 0%;
    		line-height: 2.6em;
    		background: red;
    		letter-spacing: 1px;
    		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eecda3+0,f9024d+100 */
background: #eecda3; /* Old browsers */
background: -moz-linear-gradient(left, #eecda3 0%, #f9024d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #eecda3 0%,#f9024d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #eecda3 0%,#f9024d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecda3', endColorstr='#f9024d',GradientType=1 ); /* IE6-9 */
		transition: width 1.5s ease;
		text-shadow: 0px 0px 10px rgba(1,1,1,0.1);
	}
		&:nth-of-type(1) .progress-bar.grow {
		width: 90%;
		}
		&:nth-of-type(2) .progress-bar.grow {
		width: 90%;
		}
		&:nth-of-type(3) .progress-bar.grow {
		width: 90%;
		}
		&:nth-of-type(4) .progress-bar.grow {
		width: 70%;
		}
		&:nth-of-type(5) .progress-bar.grow {
		width: 50%;
		}
	}
}


