---
---

$darkBlue: #042F73;
$blue: #0076FF;
$green: #2ae690;
$lightYellow: #F7F2B7;
$pink: #F9024D;
$bodyText: #777;

$color: #093261;
$color2: white;
$color3: black;

* {
    font-family: helvetica, helvetica-neue, arial, sans-serif;
}

// misc stylings
p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: darken( $bodyText, 40%);
    font-size: 17px;
}

// Project descripton sections on homepage
.project-description {
    padding-bottom: 50px;
    &.theme-1 {
        .text-block {
            padding: 40px 0px 40px 0px;
            color: #4a4a4a;
            small {
                font-size: 16px;
                letter-spacing: 3px;
                font-weight: 600;
                text-transform: uppercase;
                color: $green;
                display: block;
            }
            h1 {
                margin-top: 30px;
                padding: 10px 20px;
                font-size: 60px;
                font-weight: 800;
                color: white;
                margin-bottom: 40px;
                background: $green;
                line-height: 1em;
                display: inline-block;
            }
            p {
                &.disciplines {
                    font-size: 14px;
                    font-weight: 800;
                    text-transform: uppercase;
                    padding-top: 30px;
                    span {
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            border-bottom: 10px solid rgba(248, 221, 28, 0.3);
                            margin-top: -5px;
                            width: 100%;
                            bottom: -6px;
                            left: 0;
                        }
                    }
                }
            }
        }
        .img-block {
            padding-top: 30px;
            img {
                position: absolute;
                right: 0px;
                bottom: -999px;
	            transition: bottom .4s ease, opacity .4s ease;
	            position: absolute;
	            opacity: 0;
	        	&.project-animate {
	            	position: relative;
	            	bottom: 0;
	            	opacity: 1;
	            }
            }
            a {
                display: block;
                text-align: right;
                color: #30D287;
            }
        }
    }
    &.skillset {
        h1 {
            background-color: $pink !important;
        }
        p {
            max-width: 800px;
        }
        h4 {
            color: $pink !important;
            font-weight: 800;
            font-size: 18px;
        }
    }
}

// header styles
header {
    &.header1 {
        height: 80px;
        .container {
            .row {
                display: flex;
                justify-content: space-between;
                .logo {
                    h3 {
                        font-size: 28px;
                        padding-top: 32px;
                        font-weight: 700;
                        color: lighten($bodyText, 30%);
                        letter-spacing: -1px;
                    }
                }
                nav {
                    padding-top: 28px;
                    ul {
                        padding-right: 20px;
                        li {
                            display: inline;
                            position: relative;
                            padding: 10px 0px;
                            margin-left: 20px;
                            &:after {
                                content: '';
                                position: absolute;
                                height: 100%;
                                width: 0%;
                                background-color: #eee;
                                left: 0;
                                top: 0;
                                z-index: -1;
                                transition: .5s width;
                            }
                            &:hover {
                                &:after {
                                    background-color: #eee;
                                    width: 100%;
                                }
                            }
                            a {
                                color: $green;
                                font-size: 14px;
                                font-weight: 600;
                                padding: 10px 20px;
                                width: 100% !important;
                                height: 100% !important;
                                &:hover {
                                    text-decoration: none;
                                    color: darken( $bodyText, 20%)
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// hero styles
.container-fluid.hero {
    /*background-image: url('{{ site.url }}//portfolio/assets/images/hero.jpg');*/
    display: flex;
    height: calc( 100vh - 80px );
    max-height: 900px;
    align-items: center;
    div.container {
        position: relative;
        h1 {
            font-weight: 800;
            font-size: 105px;
            margin-bottom: 50px;
            color: darken( $bodyText, 40%);
            letter-spacing: -1px;
            display: block;
        }
        p {
            max-width: 750px;
            color: darken( $bodyText, 40%);
            font-size: 20px;
            display: block;
            line-height: 1.6em;
        }
    }
}


// Code for bar graph
.progress-element {
	.progress {
		margin-bottom: 20px;
	    text-align: left;
	    text-indent: 60px;
	    border-radius: 1px;
		.progress-bar {
			height: 30px;
			width: 0%;
    		line-height: 2.6em;
    		background: red;
    		letter-spacing: 1px;
    		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eecda3+0,f9024d+100 */
background: #eecda3; /* Old browsers */
background: -moz-linear-gradient(left, #eecda3 0%, #f9024d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #eecda3 0%,#f9024d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #eecda3 0%,#f9024d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eecda3', endColorstr='#f9024d',GradientType=1 ); /* IE6-9 */
		transition: width 1.5s ease;
	}
		&:nth-of-type(1) .progress-bar.grow {
		width: 90%;
		}
		&:nth-of-type(2) .progress-bar.grow {
		width: 90%;
		}
		&:nth-of-type(3) .progress-bar.grow {
		width: 90%;
		}
		&:nth-of-type(4) .progress-bar.grow {
		width: 70%;
		}
		&:nth-of-type(5) .progress-bar.grow {
		width: 50%;
		}
	}
}
