---
layout: project
---

{% include header.html %}

<!--Title for project-->
<Section class="project-title ebay-page">
    <div class="container">
        <div class="clearfix">
            <div class="project-text">
                <span>2019</span>
                <h1>eBay Work</h1>
                <p>Product Design  <span style="margin-left: 10px; margin-right: 10px;">//</span>  Product Development  <span style="margin-left: 10px; margin-right: 10px;">//</span>  Frontend Development</p>
            </div>
        </div>
    </div>
</Section>


<section class="ebay-work">
    <div class="container d-flex">
        <div class="row">
            <div class="col-md-12">
                <p class="limit-text-width large">SiteBuilder is the internal Site Suilding tool at eBay. I was responsible for designing and building out new components, redesigning the UI and contributing new features and updates.
                </p>
                <!-- <p class="limit-text-width large">SiteBuilder was based on a $100 plugin. It’s complexity and development were very limited from the start. The components were basic, with nasty thick dark icons, very little color overall, no customization of components and a very limited text editor. It required a large engineering and product design effort to turn this product into something worthwhile.</p> -->
                <p class="limit-text-width large mb50">Below shows the Sitebuilder Redesign, Component Development, & Functional UI Improvements.</p>
            </div>
        </div>
    </div>
    <div class="container d-flex">
        <div class="row" style="flex: 1;">
            <div class="col-md-12" style="flex: 1;">
                <ul id="tabs">
                    <li><a id="tab1">Redesign</a></li>
                    <li><a id="tab2">Components</a></li>
                    <li><a id="tab3">Functional Improvements</a></li>
                </ul>
                <!-- Tab content first tab -->
                <div class="tab-container" id="tab1C">
                        {% include tab-1.html %}
                </div>
                <!-- Tab content second tab -->
                <div class="tab-container" id="tab2C">{% include tab-2.html %}</div>
                <!-- Tab content third tab -->
                <div class="tab-container" id="tab3C">{% include tab-3.html %}</div>
            </div>
        </div>
    </div>
</section>