---
layout: home
---

{% include header.html %}

{% include hero.html %}

<section class="project-description theme-1 project-1">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text-block">
                    <small class="category">Project 1</small>
                    <h1>Easy Road</h1>
                    <small class="category">2016<span>•</span><a href="#">View Project</a></small>
                    <p>This is some of the process work for the Travel App, 'Easy Road'. This project is trying to address the need for a high level decision making solution to help people discover new travel locations by leveraging user reviews from other travelers and collating and representing them in an easy to read format. The process included user interviews, infinity maps, cardsorting, competitve audit, paper prototypes, lofi and hifi wireframes, prototyping and user testing.</p>
                    <p class="disciplines"><span>// UX design</span></p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="img-block">
                    <a href="#">
                        <img src="assets/images/easy-road-home.png">
                        
                        <div>
                            <h4>Easy road</h4>
                            <p>A UX Exploration of a Travel App</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="project-description theme-1 project-2">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text-block">
                    <small class="category">Project 2</small>
                    <h1>Newfi</h1>
                    <small class="category">2016<span>•</span><a href="#">View Project</a></small>
                    <p>This is a redesign of for a startup mortgage and refinance company. They needed a site which better communicated what they had to offer in a clear and professional way. I was responsible for creating the UI/UX.</p>
                    <p class="disciplines"><span>// UX, Design, development</span></p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="img-block">
                    <a href="#">
                        <img src="assets/images/newfi-home.png">
                        <div>
                            <h4>Newfi</h4>
                            <p>Redesigning the Web for a Startup Finance Company </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<Section class="more-projects">
    <div class="container">
        <div class="clearfix">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col">
                <a href="#"><p>View more projects<i class="fa fa-arrow-right" aria-hidden="true"></i></p></a>
            </div>
        </div>
    </div>
</Section>
<section class="project-description skillset theme-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-block">
                    <h1>Skillset</h1>
                    <p>I am a designer first, developer second. I try my best to always cultivate both in lock step. I really enjoy being able to build what I, or others, design and find that various technologies enable more creative and interesting possibilities. I firmly believe that development and design can & should inform each other.</p>
                </div>
                <div class="progress-element">
                          <div class="progress">
        <div id="css-progress" class="progress-bar">UI DESIGN</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">HTML</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">CSS</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">UX</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">JQUERY</div>
      </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <h4>Frameworks and Software</h4>
                <p>I am very comfortable with various design software, such as Sketch, Photoshop, & Illustrator. For Development, I am familiar with Git, Bootstrap, Wordpress, & Jekyll. I am obviously very familar with HTML, CSS, SCSS, and some jQuery.</p>
            </div>
        </div>
    </div>
</section>
