---
layout: home
---
<section class="homepage">
{% include header.html %}

{% include hero.html %}
</section>
<!-- eBay -->
<section class="project-description theme-2 ebay">
        <div class="container">
            <div class="row">
                <a href="" target="_blank" style="pointer-events: none;">
                    <div class="col-md-6">
                        <div class="text-block">
                            <small class="category">2019<span>•</span>Design & Dev</small>
                            <h1 class="boxta">eBay Work</h1>
                            <small class="description">Coming Soon!</small>
                            <p>I have been working at eBay for over 2 and a half years. I'm working adamantly on putting this work together!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-block">
                                <img src="assets/images/ebay.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
<br>
<br>

<!-- Project 1 Easy Road -->
<section class="project-description theme-2 project-1">
        <div class="container">
            <div class="row">
                <a href="newfi.html" target="_blank">
                    <div class="col-md-6">
                        <div class="text-block">
                            <small class="category">2016<span>•</span>Design</small>
                            <h1 class="boxta">Easy Road</h1>
                            <small class="description">Travel App</small>
                            <p>A UX Exploration of a Travel App that collects and curates crowd sourced data, providing real and actionable advice to potential travelers.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-block">
                                <img src="assets/images/ux-big.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
<br>
<br>

<!-- Project 2 Newfi -->
<section class="project-description theme-2 project-2">
    <div class="container">
        <div class="row">
            <a href="newfi.html" target="_blank">
                <div class="col-md-6">
                    <div class="text-block">
                        <small class="category">2016<span>•</span>Design & Development</small>
                        <h1>Newfi</h1>
                        <small class="description">Website for a Startup Financial Company</small>
                        <p>This is a major redesign for a startup mortgage and refinance company. They needed a site which better communicated what they had to offer in a clear and professional way. I was responsible for creating the design, and development.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-block">
                        <img src="assets/images/newfi-home.png">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<br>
<br>

<!-- Project 3 Ben & Jerrys-->
<section class="project-description theme-2 project-2">
    <div class="container">
        <div class="row">
            <a href="ben-jerry.html" target="_blank">
                <div class="col-md-6">
                    <div class="text-block">
                        <small class="category">2015<span>•</span>Design & Development</small>
                        <h1>Ben & Jerry's</h1>
                        <small class="description">Website Facelift</small>
                        <p>A redesign of the New York Ben & Jerry's website. The former site had fought valiantly but it was in much need of a redesign, while using Ben & Jerry's distinctive design language and love of fun... and ice cream.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-block">
                        <img src="assets/images/home-bj.png">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<br>
<br>

<!-- Project 4 Exercise app -->
<section class="project-description theme-2 project-2">
    <div class="container">
        <div class="row">
            <a href="circuit-trainer.html" target="_blank">
                <div class="col-md-6">
                    <div class="text-block">
                        <small class="category">2014<span>•</span>Design</small>
                        <h1>Circuit Trainer</h1>
                        <small class="description">Excercise App</small>
                        <p>It's hard to be happy if you're not healthy. This is a personal project fitness tracker app design which seeks to motivate users through challenges, and friendly social competition!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-block">
                        <img src="assets/images/home-circuit-trainer.png">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<br>
<br>

<!-- Project 5 Rick Steves -->
<section class="project-description theme-2 project-2">
    <div class="container">
        <div class="row">
            <a href="rick-steves.html" target="_blank">
                <div class="col-md-6">
                    <div class="text-block">
                        <small class="category">2014<span>•</span>Design</small>
                        <h1>Rick Steves Website</h1>
                        <small class="description">Website Redesign</small>
                        <p>This is a personal project redesign of Rick Steves website circa 2014. Rick's site was looking quite long in the tooth, and was in need of a redesign to match the quality of its illustrious namesake.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-block">
                        <img src="assets/images/home-steves.png">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<br>
<br>

<!-- All Projects Section -->
<!-- <section class="all-projects">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Projects</h1>
                <div id="projects-block">
                    <a href="easy-road.html" class="box box-1">
                        <div class="box-content">
                        </div>
                    </a>
                    <a href="newfi.html" class="box box-2">
                        <div class="box-content">
                        </div>

                    </a>
                    <a href="jadeorchard.html" class="box box-3">
                        <div class="box-content">
                        </div>
                    </a>
                    <a href="ben-jerry.html" class="box box-4">
                        <div class="box-content">
                        </div>
                    </a>
                    <a href="circuit-trainer.html" class="box box-5">
                        <div class="box-content">
                        </div>
                    </a>
                    <a href="rick-steves.html" class="box box-6">
                        <div class="box-content">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</section> -->

<!-- Skillset section -->
<!-- <section class="project-description skillset theme-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-block">
                    <h1>Skillset</h1>
                    <p>In terms of aptitude, I am a Designer first, and Developer second. I love the intersection of design and devopment, and the process of bringing static mockups to life.</p>
                </div>
                <div class="progress-element">
                          <div class="progress">
        <div id="css-progress" class="progress-bar">UI DESIGN</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">HTML</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">CSS</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">UX</div>
      </div>
      <div class="progress">
        <div id="css-progress" class="progress-bar">JQUERY</div>
      </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <h4>Frameworks and Software</h4>
                <p>I am comfortable with the main design software applications, such as Sketch, Invision, Photoshop, & Illustrator. For Development, I am familiar with Git, Bootstrap, Wordpress, & Jekyll. I am obviously very familar with HTML, CSS, SCSS, and some jQuery.</p>
            </div>
        </div>
    </div>
</section> -->
