<section class="container-fluid hero">
    <div class="container">
        <div class="type-js headline">
            <h1 class="text-js">Salutations!</h1>
        </div>
        <p>Designer<span>•</span>Front-End Developer<span>•</span>User Experience</p>
        <p class="blurb">My name is James. I am a product designer and front-end developer. Really my job is to solve problems and create experiences which useful, intuitive and beautiful. I am currently working at eBay on their Sitebuilder tool and various projects.</p>
        <ul>
            <li><a href="#"><img src="assets/images/linkedin.png" alt=""></a></li>
            <li><a href="#"><img src="assets/images/codepen.png" alt=""></a></li>
            <li><a href="#"><img src="assets/images/dribbble.png" alt=""></a></li>
        </ul>
    </div>
    <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
</section>
