<section class="container-fluid hero">
    <div class="container">
        <div class="type-js headline">
            <h1 class="text-js">Hello</h1>
        </div>
        <p>Designer<span>•</span>Front-end Developer<span>•</span>User Experience</p>
        <p>Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices.</p>
        <ul>
            <li><a href="#"><img src="assets/images/linkedin.png" alt=""></a></li>
            <li><a href="#"><img src="assets/images/codepen.png" alt=""></a></li>
            <li><a href="#"><img src="assets/images/dribbble.png" alt=""></a></li>
        </ul>
    </div>
    <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>
</section>
