<section class="intro-section">
    <div class="full-height container-fluid hero">
            <div class="bg"></div>
            <div class="grid">
                <div class="line-parent line-parent-1">
                </div>
                <div class="line-parent line-parent-2">
                </div>
                <div class="line-parent line-parent-3">
                </div>
                <div class="line-parent line-parent-4">
                </div>
                <div class="line-parent line-parent-5">
                </div>
                <div class="line-parent line-parent-6">
                </div>
            </div>
            <!-- <div class="resume-parent">
                <a href="#" target="_top" class="resume">Resume</a>
            </div> -->
            <div class="contact-parent">
                <a href="mailto:jdoran90e@gmail.com?Subject=Hello%20again" target="_top" class="contact">Contact</a>
            </div>
            <div class="pin-scene">
                <div class="title-main">
                    <p class="descriptor descriptor-1">My name is James</p>
                    <div class="type-js headline">
                        <h1 class="text-js">Welcome</h1>
                    </div>
                    <div class="text-parent">
                        <p class="descriptor descriptor-2"><span>and I am a Product Designer</span></p>
                    </div>
                </div>
            </div>
    </div>
</section>
<section>
    <div class="section2 full-height">
        <div class="s-inner">
            <p class="heading" id="page-start">
                <span class="line"></span>
                I am currently working as a product designer and front end developer at eBay. I love crafting interfaces and animations which bring a design to life. </p>
        </div>
    </div>
</section>
