<section class="container-fluid hero">
    <div class="container">
        <div class="type-js headline">
            <h1 class="text-js"><span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "Welcome to...", "my Portfolio Site.", "" ]'></span></h1>
        </div>
        <p>My name is James. I am a Designer who codes. I am currently working at eBay on the intranet in a Product Design role. 
        This includes, design, development, ideation, & working with customer feedback & business goals.</p>
    </div>
    <!--  <img src="{{ site.url }}/portfolio/assets/images/wagon.svg" class="wagon">
    <img src="{{ site.url }}/portfolio/assets/images/windmill.svg" class="windmill">
    <img src="{{ site.url }}/portfolio/assets/images/windmill-blades.svg" class="windmill-blades"> -->
</section>
