<section class="intro-section">
    <div class="full-height container-fluid hero">
            <div class="bg"></div>
            <div class="grid">
                <div class="line-parent">
                    <div class="line-element"></div>
                </div>
                <div class="line-parent">
                    <div class="line-element"></div>
                </div>
                <div class="line-parent">
                    <div class="line-element"></div>
                </div>
                <div class="line-parent">
                    <div class="line-element"></div>
                </div>
                <div class="line-parent">
                    <div class="line-element"></div>
                </div>
                <div class="line-parent">
                    <div class="line-element"></div>
                </div>
                
            </div>
            <div class="contact-parent">
                <a href="" class="contact">Contact{% include envelope.svg %}</a>
            </div>
            <div class="pin-scene">
                <div class="title-main">
                    <div class="type-js headline">
                        <h1 class="text-js">Hello</h1>
                    </div>
                    <p class="descriptor">My name is <span>James</span>, and I am a <span>designer</span> who <span>codes</span class="period"></p>
                </div>
            </div>
            <div class="arrow-parent">
                {% include arrow.svg %}
            </div>
    </div>
</section>
<section>
    <div class="section2 full-height">
        <div class="s-inner">
            <img src="/assets/images/balloon.svg" alt="" class="balloon">
            <p class="heading">Welcome</p>
            <p class="text-content">Check out my work below</p>
        </div>
    </div>
</section>
