<h4>Component Development</h4>
<div class="roles">
    <p class="font-lato">My Role</p>
    <p>Designer, Product Development, Frontend Development. (Figma, Sketch, HTML, SCSS, JS, Git, Jira)</p>
</div>
<div class="project">
    <p class="bold font-lato">The Problem</p>
    <p class="problem mb-30 font-lato">Components were inflexible & had no options to customize, which mushroomed the number of components and was a poor user experience.</p>
    <p>There were mutliple problems to solve. We had to integrate the new brand and design language that eBay was
        developing, into SiteBuilder, as well as overcome the limitations that were constraining us from making more
        interesting & powerful components.
    </p>
    <p>They were basic drag and drop. If you wanted multiple variations of a component you had to create MULTIPLE
        components. As components proliferated upwards of 70, it became very clear we needed to make these components
        smarter.</p>
    <div class="image-text-layout mt-50">
        <div>
            <p class="bold" style="border-bottom: 0;">Layout 1 - Header 4 cards</p>
            <img src="assets/images/sb-header-layout-1.png" alt="">
        </div>
        <div>
            <p class="bold" style="border-bottom: 0;">Layout 1 - Header 3 cards</p>
            <img src="assets/images/sb-header-layout-2.png" alt="">
        </div>
    </div>
    <div class="image-text-layout">
        <div>
            <p class="bold" style="border-bottom: 0;">Layout 1 - Header 2 cards</p>
            <img src="assets/images/sb-header-layout-3.png" alt="">
        </div>
        <div>
            <p class="bold" style="border-bottom: 0;">Layout 1 - Header no cards</p>
            <img class="mb-80" src="assets/images/sb-header-layout-4.png" alt="">
        </div>
    </div>
    <p class="bold mt-80 font-lato" style="border-bottom: 0;">Color Themes</p>
    <img class="mb-50" src="assets/images/sb-header-colors.png" alt="">
    <p class="bold mt-80 font-lato" style="border-bottom: 0;">Component on Editing Screen</p>
    <img class="box-shadow mb-50" src="assets/images/sb-header-editing.png" alt="">
    <p class="bold mt-80 font-lato" style="border-bottom: 0;">Coded Prototype</p>
    <!-- <img class="box-shadow mb-50" src="assets/images/sb-heading.gif" alt=""> -->
    <iframe style="display: block; box-shadow: 0 5px 25px 0 rgba(1,1,1,.1);" width="800" height="500" src="https://www.youtube.com/embed/qo-L46nxrls" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p style="display: block;" class="font-lato bold mt-80">The Solution</p>
    <p>Firstly, the most used component on our platform was the header component. Every page had one. Also it was
        increasingly difficult for users to find good high quality images which didn’t infringe on copyright and served
        their needs well. Luckily eBay’s new brand used large squares and rectangles of color, and it made sense to
        incorporate that into a powerful header component.
    </p>
    <p>The header component had 16 different color schemes, and 4 different layouts. So that is 64 unique states. The
        different layouts would include the ability of the user to chose 2,3 or 4 cards incorporated into the header
        which could link to important pages within their site. Or not use any cards at all. We felt the header needed
        many different options to avoid repetition across the platform. Usually different departments wanted to stand
        out in someway. </p>
</div>