<h4>Component Development</h4>
<div class="roles">
    <p>My Role</p>
    <p>Designer, Product Development, Frontend Development. (Figma, Sketch, HTML, SCSS, JS, Git, Jira)</p>
</div>
<div class="project">
    <p>SiteBuilder was based on a $100 webapp which allowed us to create sites internally at eBay similar to say Square Space or WIX. It’s complexity and development were very limited from the start. The components were basic, with nasty thick dark icons, very little color overall, no customization of components and a very limited text editor.  It required a large engineering and product design effort to push this product forward. 
        </p>
    <p class="bold">The Problem</p>
    <p>There were mutliple problems to solve. We had to integrate the new brand and design language that eBay was developing into SiteBuilder, as well as overcome the limitations that were constraining us from making more interesting & powerful components.
    </p>
    <p class="problem">Components were not customizable.</p>
    <p>They were basic drag and drop. If you wanted multiple variations of a component you had to create MULTIPLE components. As components proliferated upwards of 70, it became very clear we needed to make these components smarter.</p>
    <p class="bold">The Solution</p>
    <p>1. Firstly, the most used component on our platform was the header component. Every page had one. Also it was increasingly difficult for users to find good high quality images which didn’t infringe on copyright and served their needs well. Luckily eBay’s new brand used large squares and rectangles of color, and it made sense to incorporate that into a powerful header component. 
        </p>
    <p>The header component had 16 different color schemes, and 4 different layouts. So that is 64 unique states. The different layouts would include the ability of the user to chose 2,3 or 4 cards incorporated into the header which could link to important pages within their site. Or not use any cards at all.  We felt the header needed many different options to avoid repetition across the platform. Usually different departments wanted to stand out in someway.  </p>
    <div class="image-text-layout mt-50">
        <div>
            <p class="bold" style="color: #006EFC;">Layout 1 - Header 4 cards</p>
            <img src="assets/images/sb-header-layout-1.png" alt="">
        </div>
        <div>
            <p class="bold" style="color: #006EFC;">Layout 1 - Header 3 cards</p>
            <img src="assets/images/sb-header-layout-2.png" alt="">
        </div>
    </div>
    <div class="image-text-layout ">
        <div>
            <p class="bold" style="color: #006EFC;">Layout 1 - Header 2 cards</p>
            <img src="assets/images/sb-header-layout-3.png" alt="">
        </div>
        <div>
            <p class="bold" style="color: #006EFC;">Layout 1 - Header no cards</p>
            <img src="assets/images/sb-header-layout-4.png" alt="">
        </div>
    </div>
    <p class="bold mt-80" style="color: #006EFC;">Color Themes</p>
    <img src="assets/images/sb-header-colors.png" alt="">
    <p class="bold mt-80" style="color: #006EFC;">Component on Editing Screen</p>
    <img class="box-shadow" src="assets/images/sb-header-editing.png" alt="">
    <p class="bold mt-80" style="color: #006EFC;">Coded Prototype</p>
    <img class="box-shadow" src="assets/images/sb-heading.gif" alt="">

</div>