<h4>SiteBuilder Redesign</h4>
<div class="roles">
    <p class="font-lato">My Role</p>
    <p>Designer, Product Development, Frontend Development. (Figma, Sketch, HTML, SCSS, JS, Git, Jira)</p>
</div>
<div class="project">
        <p class="bold font-lato">The Problem</p>
        <p class="problem">The large number of components created a clumsy and unintuitive experience for users.
        </p>
        <p>A large number of components (70+) stacked on the editing page, made it difficult for the user to navigate the components in an intuitive way. Also it very was difficult for users to tell what the components did.
        </p>
        <p class="mb-80">The ‘filter dropdown’ provided a means of sorting components by type, however it was often not noticed and not engaged by users. It was essentially a secondary means of navigating the component list. The primary means was to simply scroll the long & ambiguous list of components, and this was inefficient and required a learning curve. We needed a new primary method of navigating the components that addressed these issues. 
    
        </p>
    <div class="img-container mt-30 mb-80">
        <img class="box-shadow" src="assets/images/sb.gif" alt="">
    </div>
    <div>
        <p class="bold font-lato" style="border-bottom: 0;">Wireframes and Other Designs</p>
</div>
<div class="column-layout mt-30 sb-wireframes">
    <img src="assets/images/Sitebuilder Editing Screen-basic.jpg" alt="">
    <img src="assets/images/Sitebuilder Editing Screen-dim.jpg" alt="">
</div>
<div class="column-layout mt-30 sb-wireframes">
    <img src="assets/images/Sitebuilder Editing Screen-full.jpg" alt="">
    <img src="assets/images/Sitebuilder Editing Screen-headers.jpg" alt="">
</div>
<div class="column-layout mt-30" style="flex-direction: column;">
        <img class="box-shadow mb-50" src="assets/images/sb-editing-page-1.jpg" alt="">
        <img class="box-shadow mb-50" src="assets/images/sb-editing-page-1.jpg" alt="">
</div>
<p class="bold font-lato" style="border-bottom: 0;">Video -  Screen Capture</p>
<iframe class="mt-30 mb-50" style="display: block; box-shadow: 0 5px 25px 0 rgba(1,1,1,.1);" width="800" height="500" src="https://www.youtube.com/embed/zTJ-n7XtzT4?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" frameborder="0" allowfullscreen></iframe>
    <div>
        <p class="bold font-lato">The Solution</p>
        <p>We chose to group the components in accordions by common attributes, such as text, images, alerts, interactive, etc. Clicking on an accordion reveals the relevant components. This helps the user to navigate the increasingly large number of components in a simple and elegant way.
        </p>
        <p>Also the width of the component sidebar was made slightly wider so that users could see more clearly the component thumbnail, and also we added a tooltip description of each component that would be visible on hover. 
            </p>
        <p>Also I added in an ‘expand option’, which would expand the editing area so it was fullscreen, and the component sidebar would be pulled off screen. This allowed the user to work on the content of their site without the clutter of other page elements. 
            </p>
        <p>The visual design chose to mute many visual elements, other than the editing area. The component sidebar used muted grays, the background is light gray. There are no bright or colorful hues. This approach was taken so that the most colorful element on the page was the users content (hopefully), and the other elements of the page helped support and build this. 
            </p>
        <p>The component UI was also given an update (contextual menu on the left of the component), utilizing new brand colors and brand design aesthetic, which could be described as square, and blocky. 
            </p>
    </div>
    <div class="column-layout mt-50 sb-old-new">
        <p class="bold" style="border-bottom: 0;">Previous Version</p>
        <img style="box-shadow: none; width: 100%; margin-left: -15px;" src="assets/images/previous-version.png" alt="">
        <iframe width="800" height="500" src="https://www.youtube.com/embed/gHUQIKA2qag?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   
</div>